.carouselContainer {
    position: relative;
    overflow: hidden;
  }
  
  .carouselContainer:hover .leftBtn,
  .carouselContainer:hover .rightBtn {
    transform: translate(0%, -50%);
  }
  
  .carouselItem {
    flex: 0 0 auto;
    margin-left: 1rem;
  }
  
  .btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
    background: white;
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
  }
  
  .leftBtn {
    left: 0;
    transform: translate(-100%, -50%);
  }
  
  .rightBtn {
    right: 0;
    transform: translate(100%, -50%);
  }
  
  .itemYes {
    visibility: visible;
  }
  
  .itemNo {
    visibility: hidden;
  }
  
  .rightCarouselButton.carouselContainer:hover {
    transform: translate(0%, -50%);
  }
  
  .carouselContainerInner {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* offset for children spacing*/
    margin-left: -1rem;
    scroll-snap-align: center;
  }
  
  .carouselContainerInner::-webkit-scrollbar {
    display: none;
  }
  
  .carouseItem {
    scroll-snap-align: center;
  }
  